<main>
  <div class="cotainer">
    <div class="row pt-5">
      <div class="mx-auto">
        <h1>welcome to <i class="fa-solid fa-book"></i>Bookers!!</h1>
        <p>In <i class="fa-solid fa-book"></i><strong>Bookers,</strong></p>
        <p>you can share and exchange your opinions,inpressions,and emotions</p>
        <p>about various books!</p>
        <div class="text-center">
          <p><%= link_to "Log in", new_user_session_path, class: 'nav-link text-light btn btn-info' %></p>
          <p><%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-light btn btn-success' %></p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="text-center mt-5">CopyRight Infratop.inc</footer>
